OPENAI_API_KEY=
ENVIRONMENT="dev"
POLYMATH_API_KEY=
DATALAB_API_KEY=

PHOENIX_RETRIEVE_URL="http://localhost:6006"
PHOENIX_LOG_URL="http://localhost:4317"
POLYMATH_SERVER_URL="http://localhost:8000"

LEAN_SERVER_HOST=0.0.0.0
LEAN_SERVER_PORT=8000
LEAN_SERVER_LOG_LEVEL=INFO


LEAN_SERVER_ENVIRONMENT=dev
LEAN_SERVER_LEAN_VERSION=v4.15.0


LEAN_SERVER_MAX_REPLS=
LEAN_SERVER_MAX_REPL_USES=-1
LEAN_SERVER_MAX_REPL_MEM=8G
LEAN_SERVER_MAX_WAIT=60

LEAN_SERVER_INIT_REPLS={}